<div class="card mx-auto w-25 mt-5">
  <article class="card-body">
    <%= link_to "back", :back, class: "btn btn-primary" %>
    <div class="mt-3">
      <p> Name:- <%= @user.name %> </p>
      <p> Email:- <%= @user.email %> </p>
    </div>
    <%= link_to "Reset Password", edit_password_path, class: "btn btn-primary" %>
  </article>
</div>
